<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" type="x-icon" href="{{ url_for('static', filename='images/gadsms_logo.png') }}">
	<title>GadSMS: Gadget Shop Management Shop</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/AdminVS.css') }}">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<script src="https://kit.fontawesome.com/05f5e3eb98.js" crossorigin="anonymous"></script>
</head>
<body>
	<div class="wrapper">
		<div class="sidebar">
			<img src="{{ url_for('static', filename='images/gadsms_logo.png') }}">
		<ul>
			<li><a href="{{ url_for('adminhp')}}">Home</a></li>
			<li><a href="{{ url_for('adminin')}}">Inventory</a></li>
			<li class="active"><a href="{{ url_for('adminvs')}}">View Sales</a></li>
			<li><a href="{{ url_for('adminap')}}">Appointment</a></li>
			<li><a href="{{ url_for('adminem')}}">Employees</a></li>
			<li><a href="{{ url_for('adminvc')}}">View Customer</a></li>
			<li><a href="{{ url_for('admindi')}}">Defect Items</a></li>
		</ul>
		<div class="social_media">
			<a href="#"><i class="fa-brands fa-facebook"></i></a>
			<a href="#"><i class="fa-brands fa-google"></i></a>
			<a href="#"><i class="fa-brands fa-twitter"></i></a>

		</div>

	</div>
	<div class="main_content">
		<div class="header">
			<div class="header-detail-side">
					{% for user in slist%}
					{% for key,value in user.items() %}
						{%if key == "firstname"%}
							<p>Name: {{value}}
						{%elif key == "lastname"%}
							{{value}}</p>
						{%elif key == "user_id"%}
							<p>ID No. : {{value}}</p>
						{%else%}
							<p>Role : {{value}}</p>
						{%endif%}
					{% endfor %} 
					{% endfor%}	
			</div>
			<div class="logout-side">
				<button class="logout-btn"><a href="/logout"><i class="fas fa-sign-out-alt"></i></a></button>
			</div>
		</div>
		<br>
		<br>
		<div class="table-container">
			<div class="table-right-side">
				<div class="top-table-container">
					<input type="text" name="" placeholder="Search here..." class="search">
					<form>
						<select name="Filter by" class="filter">
							<option value="1">Filter</option>
							<option value="2">Filter</option>
							<option value="3">Filter</option>
							<option value="4">Filter</option>
						</select>
					</form>
					<a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
				</div>
				<table class="w3-table-all w3--card-4 w3-text-black">
					<input type="hidden" name="pid" id="pid" value="">
					<tr>
						{% for h in pageheader %}
							<th>{{ h | upper }}</th>
						{% endfor %}
					</tr>
					{% for item in plist %}
					<tr>
						{% for key,value in item.items() %}
						<td>
							{{ value | upper }}
						</td>
						{% endfor %}
						<td>
							<button onclick="saledetails({{item['prod_sale_ref_id']}})">&#10148;</button>				
						</td>
					</tr>
					{% endfor %}
				</table>
			</div>
			<div class="table-left-side">
				<div style="height:700px;overflow:auto;">
				<div class="sale-detail-container">
					<h2>SALE DETAILS</h2>
					<div class="sale-detail-wrapper">
					{%if ok == "ok"%}
						{% for item in plist2 %}
						{% for key,value in item.items() %}
						{% if key == "prod_sale_ref_id"%}
							<h5>Sale Ref ID: {{ value | upper }}</h5>
						{% elif key == "customer_id"%}
							<h5>Customer ID: {{ value | upper }}</h5>
						{% elif key == "created_by"%}
							<h5>Created by: {{ value | upper }}</h5>
						{% elif key == "created_data"%}
							<h5>Created Date: {{ value | upper }}</h5>
						{%else%}
						{% endif %}
						{% endfor %}
						{% endfor %}
					{%else%}
					<h5>Sale Ref ID:</h5>
					<h5>Customer ID:</h5>
					<h5>Created by:</h5>
					<h5>Created Date:</h5>
					{%endif%}
						<table class="w3-table-all w3--card-4 w3-text-black sale" id="prodtable">
							<tr>
								<th>ID</th>
								<th>Product Name</th>
								<th>Qty</th>
								<th>Price</th>
							</tr>
							{% for item in purlist %}
							<tr>
								{% for key,value in item.items() %}
								<td>
								{{ value | upper }}
								</td>
								{% endfor %}
							</tr>
							{% endfor %}
						</table>
						<br>
					</div>
				</div>
				<div class="total">
					<h3>Total:<p id="subtotal" ></p></h3>
				</div>
				</div>			
			</div>
		</div>	
	</div>
	<script>
		function total(){
    		var table = document.getElementById('prodtable');
    		let total = 0
    		for(let i = 1; i<table.rows.length; i++){
        		total+=Number(table.rows[i].cells[3].innerText)
    		}
    		return total.toFixed(2)
		}
		document.getElementById("subtotal").innerHTML = window.total();
		function saledetails(pid){
			location.href="/saledetails?id="+pid
		}
	</script>
</body>
</html>