<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" type="x-icon" href="{{ url_for('static', filename='images/gadsms_logo.png') }}">
	<title>GadSMS: Gadget Shop Management Shop</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/AdminVS.css') }}">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<script src="https://kit.fontawesome.com/05f5e3eb98.js" crossorigin="anonymous"></script>
</head>
<body>
	<div class="wrapper">
		<div class="sidebar">
			<img src="{{ url_for('static', filename='images/gadsms_logo.png') }}">
		<ul>
			<li><a href="{{ url_for('adminhp')}}">Home</a></li>
			<li><a href="{{ url_for('adminin')}}">Inventory</a></li>
			<li class="active"><a href="{{ url_for('adminvs')}}">View Sales</a></li>
			<li><a href="{{ url_for('adminap')}}">Appointment</a></li>
			<li><a href="{{ url_for('adminem')}}">Employees</a></li>
			<li><a href="{{ url_for('adminvc')}}">View Customer</a></li>
			<li><a href="{{ url_for('admindi')}}">Defect Items</a></li>
		</ul>
		<div class="social_media">
			<a href="#"><i class="fa-brands fa-facebook"></i></a>
			<a href="#"><i class="fa-brands fa-google"></i></a>
			<a href="#"><i class="fa-brands fa-twitter"></i></a>

		</div>

	</div>
	<div class="main_content">
		<div class="header">
			<div class="header-detail-side">
					{% for user in slist%}
					{% for key,value in user.items() %}
						{%if key == "firstname"%}
							<p>Name: {{value}}
						{%elif key == "lastname"%}
							{{value}}</p>
						{%elif key == "user_id"%}
							<p>ID No. : {{value}}</p>
						{%else%}
							<p>Role : {{value}}</p>
						{%endif%}
					{% endfor %} 
					{% endfor%}	
			</div>
			<div class="logout-side">
				<button class="logout-btn"><a href="/logout"><i class="fas fa-sign-out-alt"></i></a></button>
			</div>
		</div>
		<br>
		<br>
		<div class="table-container">
			<div class="table-right-side">
				<div class="top-table-container">
					<input type="text" name="" placeholder="Search here..." class="search">
					<form>
						<select name="Filter by" class="filter">
							<option value="1">Filter</option>
							<option value="2">Filter</option>
							<option value="3">Filter</option>
							<option value="4">Filter</option>
						</select>
					</form>
					<a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
				</div>
				<table class="w3-table-all w3--card-4 w3-text-black">
					<tr>
						<th>Sale Reference ID</th>
						<th>Customer ID</th>
						<th>Created By</th>
						<th>Created Date</th>
					</tr>
					<tr>
						<td>Sample ID 1</td>
						<td>Customer ID 1</td>
						<td>Sample Name 1</td>
						<td>5/25/22</td>
					</tr>
					<tr>
						<td>Sample ID 2</td>
						<td>Customer ID 2</td>
						<td>Sample Name 2</td>
						<td>5/25/22</td>
					</tr>
				</table>
			</div>
			<div class="table-left-side">
				<div class="sale-detail-container">
					<h2>SALE DETAILS</h2>
					<div class="sale-detail-wrapper">
						<h5>Sale Ref ID: 123123</h5>
						<h5>Customer ID: 123123</h5>
						<h5>Created By: Sample Name</h5>
						<h5 style="padding-bottom: 20px;">Created Date: 05/25/22</h5>

						<table class="w3-table-all w3--card-4 w3-text-black sale">
							<tr>
								<th>Product Name</th>
								<th>Qty</th>
								<th>Price</th>
							</tr>
							<tr>
								<td>Product 1</td>
								<td>1</td>
								<td>100.00</td>
							</tr>
							<tr>
								<td>Product 2</td>
								<td>2</td>
								<td>200.00</td>
							</tr>
						</table>
						<h3 style="padding-top: 20px;">Total: 300.00</h3>
					</div>
				</div>			
			</div>
		</div>	
	</div>
</body>
</html>