<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" type="x-icon" href="{{ url_for('static', filename='images/gadsms_logo.png') }}">
	<title>GadSMS: Gadget Shop Management Shop</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/AdminIN.css') }}">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<script src="https://kit.fontawesome.com/05f5e3eb98.js" crossorigin="anonymous"></script>
</head>
<body>
	
	<div class="wrapper">
		<div class="sidebar">
			<img src="{{ url_for('static', filename='images/gadsms_logo.png') }}">
		<ul>
			<li><a href="{{ url_for('adminhp')}}">Home</a></li>
			<li class="active"><a href="{{ url_for('adminin')}}">Inventory</a></li>
			<li><a href="{{ url_for('adminvs')}}">View Sales</a></li>
			<li><a href="{{ url_for('adminap')}}">Appointment</a></li>
			<li><a href="{{ url_for('adminem')}}">Employees</a></li>
			<li><a href="{{ url_for('adminvc')}}">View Customer</a></li>
			<li><a href="{{ url_for('admindi')}}">Defect Items</a></li>
		</ul>
		<div class="social_media">
			<a href="#"><i class="fa-brands fa-facebook"></i></a>
			<a href="#"><i class="fa-brands fa-google"></i></a>
			<a href="#"><i class="fa-brands fa-twitter"></i></a>

		</div>
	</div>
	
	<div class="main_content">
		<div class="header">
			<div class="header-detail-side">
					{% for user in slist%}
					{% for key,value in user.items() %}
						{%if key == "firstname"%}
							<p>Name: {{value}}
						{%elif key == "lastname"%}
							{{value}}</p>
						{%elif key == "user_id"%}
							<p>ID No. : {{value}}</p>
						{%else%}
							<p>Role : {{value}}</p>
						{%endif%}
					{% endfor %} 
					{% endfor%}	
			</div>
			<div class="logout-side">
				<button class="logout-btn"><a href="/logout"><i class="fas fa-sign-out-alt"></i></a></button>
			</div>
		</div>
		<br>
		<!--messaging panel NOT FIX-->
		
		<br>
		<div class="table-container">
			<div class="top-table-container">
				<input type="button" name="" value="Add Item" class="additem" onclick="document.getElementById('addproductmodal').style.display='block'">
				<input type="text" name="" placeholder="Search here..." class="search">
				<form>
					<select name="Filter by" class="filter">
						<option value="1">Filter</option>
						<option value="2">Filter</option>
						<option value="3">Filter</option>
						<option value="4">Filter</option>
					</select>
				</form>
				<a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
			</div>
			<table class="w3-table-all w3--card-4 w3-text-black">
				<tr>
					{% for h in pageheader %}
						<th>{{ h | upper }}</th>
					{% endfor %}
				</tr>
				{% for item in plist %}
				<tr>
					{% for key,value in item.items() %}
					<td>
						{{ value | upper }}
					</td>
					{% endfor %}
					<td>
						<button onclick="edit_product('{{item['product_id']}}','{{item['product_type_id']}}','{{item['product_name']}}','{{item['product_price']}}','{{item['stock_quantity']}}','{{item['discount_price']}}')">&#9998;</button>
						<button onclick="deleteproduct({{item['product_id']}})">&times;</button>				
					</td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
	<div class="w3-modal" id ="addproductmodal"> 
		<div class ="w3-modal-content w3-animate-zoom">
			<div class = "w3-container popup">
				<button class="w3-button w3-display-topright" onclick="document.getElementById('addproductmodal').style.display='none'">&times;</button>
				<h1>Product Information</h1>
				<form action="/addproduct" method="post" name="studentform" class="add-item-form">
					<!--Saving Flag-->
					<!--Flag: '-' add student--->
					<!--Flag: '1++' update student--->
					<input type="hidden" name="flag" id="flag" value="0">
					<input type="hidden" name="id" id="id">
					<ul>
		            	<li>
		            		Product Type
	            			<select name="ptype" id="ptype" required>
								<option value="141857">Oppo Smartphone</option>
								<option value="141859">Logitech Mouse</option>
								<option value="141871">Samsung Monitor</option>
								<option value="141858">Asus Laptop</option>
							</select>
		            	</li>
		            	<li>
		            		Product Name
							<input type="text" name="pname" id="pname" required>
		            	</li>
		            	<li>
		            		Product Price
		            		<input type="text" name="pprice" id="pprice" required>
		            	</li>
		            	<li>
		            		Stock Quantity
		            		<input type="text" name="qty" id="qty" required>
		            	</li>
		            	<li>
		            		Discounted Price
		            		<input type="text" name="dprice" id="dprice" required>
		            	</li>
		            	<br>
		            	<br>
		            	<br>
		            	<li style="text-align: center;">
		            		<button type="submit" value="SAVE" class="gadsms-button">Save</button>
		            	</li>
		            	<li style="text-align: center;">
		            		<button onclick="document.getElementById('addproductmodal').style.display='none'" class="gadsms-button cancel">Cancel</button>
		            	</li>
		            </ul>
					<br><br>
					<!-- <p>
						<label>Product Type:</label>
						<select class="w3-select w3-border" style="width:23%" name="ptype" id="ptype" required>
							<option value="141857">Oppo Smartphone</option>
							<option value="141859">Logitech Mouse</option>
							<option value="141871">Samsung Monitor</option>
							<option value="141858">Asus Laptop</option>
						</select>
					</p> -->
					<!-- <br>
					<p>
						<label>Product Name: </label>
						<input type="text" class="w3-border" name="pname" id="pname" required>
					</p>
					<br> -->
					<!-- <p>
						<label>Product Price: </label>
						<input type="text" class="w3-border" name="pprice" id="pprice" required>
					</p>
					<br>
					<p>
						<label>Stock Quantity: </label>
						<input type="text" class="w3-border" name="qty" id="qty" required>
					</p>
					<br>
					<p>
						<label>Discounted P Qrice: </label>
						<input type="text" class="w3-border" name="dprice" id="dprice" required>
					</p>
					<br> -->
					<!-- <b><p>
						<input class="w3-button w3-text-blue w3-border w3-border-blue " type="submit" value="SAVE">
					</p></b>
					<br>  -->				
				</form>
			</div>
		</div>
	</div>	
	<script>
		function deleteproduct(id){
			var ok=confirm("Delete this Product? =>"+id)
			if(ok)
				location.href="/deleteproduct?id="+id
 
		}
		function edit_product(id,ptype,pname,pprice,qty,dprice){
		
		/*
		document.forms['studentform']['flag'].value = id;
		document.forms['studentform']['idno'].value = idno;
		document.forms['studentform']['lastname'].value = lastname;
		document.forms['studentform']['firstname'].value = firstname;
		document.forms['studentform']['course'].value = course;
		document.forms['studentform']['level'].value = level;
		*/
		document.getElementById('flag').value=1;
		document.getElementById('id').value=id;
		document.getElementById('ptype').value=ptype;
		document.getElementById('pname').value=pname;
		document.getElementById('pprice').value=pprice;
		document.getElementById('qty').value=qty;
		document.getElementById('dprice').value=dprice;
		document.getElementById('addproductmodal').style.display='block'
	}
	</script>
</body>
</html>