<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" type="x-icon" href="{{ url_for('static', filename='images/gadsms_logo.png') }}">
	<title>GadSMS: Gadget Shop Management Shop</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/SellerSI.css') }}">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<script src="https://kit.fontawesome.com/05f5e3eb98.js" crossorigin="anonymous"></script>
</head>
<body>
	<div class="wrapper">
		<div class="sidebar">
			<img src="{{ url_for('static', filename='images/gadsms_logo.png') }}">
			<ul>
				<li class="active"><a href="{{ url_for('sellersi')}}">Sell Items</a></li>
				<li><a href="{{ url_for('sellervc')}}">View Customer</a></li>
				
			</ul>
			<div class="social_media">
				<a href="#"><i class="fa-brands fa-facebook"></i></a>
				<a href="#"><i class="fa-brands fa-google"></i></a>
				<a href="#"><i class="fa-brands fa-twitter"></i></a>
			</div>
	</div>
	<div class="main_content">
		<div class="header">
			<div class="header-detail-side">
					{% for user in slist%}
					{% for key,value in user.items() %}
						{%if key == "firstname"%}
							<p>Name: {{value}}
						{%elif key == "lastname"%}
							{{value}}</p>
						{%elif key == "user_id"%}
							<p>ID No. : {{value}}</p>
						{%else%}
							<p>Role : {{value}}</p>
						{%endif%}
					{% endfor %} 
					{% endfor%}	
			</div>
			<div class="logout-side">
				<button class="logout-btn"><a href="/logout"><i class="fas fa-sign-out-alt"></i></a></button>
			</div>
		</div>
		<br>
		<br>
		<div class="table-container">
			<div class="table-right-side">
				<div class="top-table-container">
					<input type="text" name="" placeholder="Search here..." class="search">
					<form>
						<select name="Filter by" class="filter">
							<option value="1">Filter</option>
							<option value="2">Filter</option>
							<option value="3">Filter</option>
							<option value="4">Filter</option>
						</select>
					</form>
					<a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
				</div>
				<table class="w3-table-all w3--card-4 w3-text-black" id="sellproduct">
					<tr>
						{% for h in pageheader %}
							<th>{{ h | upper }}</th>
						{% endfor %}
					</tr>
					{% for item in plist %}
					<tr>
						{% for key,value in item.items() %}
						<td>
							{{ value | upper }}
						</td>
						{% endfor %}
						<td>
							<button onclick="addquantity('{{item['product_id']}}','{{item['product_price']}}','{{item['discount_price']}}','{{numpsaleid}}','{{customerid}}')">&#x2B;</button>				
						</td>
					</tr>
					{% endfor %}
				</table>
			</div>
			
			<form action="/checkcustomer" class="form-cus" method="post">
			<div class="custom-id">
				<input type="hidden" name="flagg" id="flagg" value="0">
			<h3><b>Customer ID:</b>
				<input class="cus-id-bar" type="text" id="customerid" name="customerid" placeholder="" value=""></h3>
			</div>	
			<div class="check-btn">
				<button class="check-btn-in">Check</button>
			</div>
			</form>
			<div class="table-left-side">
				<div class="sale-detail-container">
					<h2>CUSTOMER PURCHASES</h2>
						<div style="height:500px;overflow:auto;">
							<div class="prod-id"><h3><b>Product Sale ID:</b> {{numpsaleid}}</h3></div>
							<div class="cus-id"><h3><b>Customer ID:</b> {{customerid}}</h3></div>
						<table class="w3-table-all w3--card-4 w3-text-black sale" id="prodtable">
								<br>
							<tr>
								<th>ID</th>
								<th>Product ID</th>
								<th>Product Name</th>
								<th>Price</th>
								<th style="width: 6%;">Qty</th>
								<th>Price Total</th>
								<th>Action</th>
							</tr>
							{% for item in purlist %}
							<tr>
								{% for key,value in item.items() %}
								<td>
								{{ value | upper }}
								</td>
								{% endfor %}
								<td>
									<button onclick="updatequantity('{{item['prod_detail_id']}}','{{item['product_id']}}','{{item['product_price']}}','{{item['quantity']}}','{{item['discount_price']}}','{{numpsaleid}}','{{customerid}}')">&#x2B;</button>				
									<button onclick="deletepurchase('{{item['prod_detail_id']}}','{{numpsaleid}}','{{customerid}}')">&times;</button>	
								</td>
							</tr>
							{% endfor %}
						</table>
						</div>
						<br>
					<form action="/purchase" method="POST" class="sale-detail-wrapper">
						<h3>SubTotal:<p id="subtotal"></p></h3>
						<br><br>
						<button type="submit" name="pay" value="Pay" class="pay-btn">Pay</button>
					</form>
				</div>			
			</div>
		</div>	
	</div>
	<div class="w3-modal" id ="addqty"> 
		<div class ="w3-modal-content w3-animate-zoom">
			<div class = "w3-container popup">	
				<button class="w3-button w3-display-topright" onclick="document.getElementById('addqty').style.display='none'">&times;</button>
				<h1>ADD QUANTITY</h1>
				<form action="/purchase" method="post" name="purchase" class="add-purchase-form">
					<!--Saving Flag-->
					<!--Flag: '-' add student--->
					<!--Flag: '1++' update student--->
					<input type="hidden" name="flag" id="flag" value="0">
					<input type="hidden" name="psaleid" id="psaleid" value="{{numpsaleid}}">
					<input type="hidden" name="customerid" id="customerid" value="{{customerid}}">
					<input type="hidden" name="pid" id="pid">
					<input type="hidden" name="psid" id="psid">
					<input type="hidden" name="pname" id="pname">
					<input type="hidden" name="pprice" id="pprice">
					<input type="hidden" name="ptotal" id="ptotal">
					<input type="hidden" name="dprice" id="dprice">
					<ul>
						<li>
							Add Quantity
							<input type="number" name="qty" id="qty" value="1" required>
						</li>
						<br>
						<br>
						<li style="text-align: center;">
		            		<button type="submit" value="SAVE" class="gadsms-button">Save</button>
		            	</li>
		            	
					</ul>
					<br><br>
				</form>
			</div>
		</div>
	</div>
	<script>
		function sellproduct(id,pname,pprice,dprice) {
		  var table = document.getElementById("prodtable"); 
		  for (var i = 0; i < prodtable.rows.length; i++){
			if(table.rows[i].cells[0].innerText == id){
				alert('This item is already added to the cart')
				return
			}

		  }
		  var row = table.insertRow(1);
		  var cell1 = row.insertCell(0);
		  var cell2 = row.insertCell(1);
		  var cell3 = row.insertCell(2);
		  var cell4 = row.insertCell(3);
		  var cell5 = row.insertCell(4);
		  var cell6 = row.insertCell(5);

		  cell1.innerHTML = id;
		  cell2.innerHTML = pname;
		  cell4.innerHTML = "<input type='number' id='qty'  class='qty' value='1' min='1' onchange='updatetotal(this.value)'>"
		  var qty = document.getElementById('qty').value;
		  num = pprice - (pprice*dprice);
		  num = Math.round(num * 100)/100
		  cell3.innerHTML = num;
		  cell5.innerHTML = num;
		  cell6.innerHTML = "<input type='button' value='&#9249;' onclick='deleteRow(this)'>"
		  total()
		}

		function updatetotal(t){
    		var table = document.getElementById('sellproduct');
			var total = 0
			var newtotal = 0
    		for(let i = 1; i<table.rows.length; i++){
				table.rows[i].onclick = function(){
					num1 = Number(table.rows[i].cells[2].innerText)*t;
					prodtable.rows[i].cells[4].innerHTML = num1.toFixed(2);
					total= total+Number(table.rows[i].cells[4].innerText)
					addtotal(total)
				};
    		}
		}

		function total(){
    		var table = document.getElementById('prodtable');
    		let total = 0
    		for(let i = 1; i<table.rows.length; i++){
        		total+=Number(table.rows[i].cells[5].innerText)
    		}
    		return total.toFixed(2)
		}
		document.getElementById("total").innerHTML = window.total();

		function addtotal(r){
    		var table = document.getElementById('prodtable');
    		let total = 0
    		for(let i = 1; i<table.rows.length; i++){
        		total+=Number(table.rows[i].cells[4].innerText)
    		}
    		const totalInput = document.getElementById('total')
    		totalInput.value=total.toFixed(2)
		}
		
		function deleteRow(r) {
  			var i = r.parentNode.parentNode.rowIndex;
 			document.getElementById("prodtable").deleteRow(i);
			total()
		}	

		function addquantity(pid,pprice,dprice,numpsaleid,customerid){
		var table = document.getElementById("prodtable"); 
		for (var i = 0; i < prodtable.rows.length; i++){
			if(table.rows[i].cells[1].innerText == pid){
				alert('This item is already added to the cart')
				return
			}
		}

		/*
		document.forms['studentform']['flag'].value = id;
		document.forms['studentform']['idno'].value = idno;
		document.forms['studentform']['lastname'].value = lastname;
		document.forms['studentform']['firstname'].value = firstname;
		document.forms['studentform']['course'].value = course;
		document.forms['studentform']['level'].value = level;
		*/
		document.getElementById('flag').value=0;
		document.getElementById('psaleid').value=numpsaleid;
		document.getElementById('customerid').value=customerid;
		document.getElementById('pid').value=pid;
		document.getElementById('pprice').value=pprice-(pprice*dprice);
		document.getElementById('qty').value=1;
		document.getElementById('ptotal').value=pprice-(pprice*dprice);
		document.getElementById('addqty').style.display='block'
		
	}

	function updatequantity(psid,pid,pprice,qty,dprice,numpsaleid,customerid){

		/*
		document.forms['studentform']['flag'].value = id;
		document.forms['studentform']['idno'].value = idno;
		document.forms['studentform']['lastname'].value = lastname;
		document.forms['studentform']['firstname'].value = firstname;
		document.forms['studentform']['course'].value = course;
		document.forms['studentform']['level'].value = level;
		*/

		document.getElementById('flag').value=1;
		document.getElementById('psaleid').value=numpsaleid;
		document.getElementById('customerid').value=customerid;
		document.getElementById('pid').value=pid;
		document.getElementById('psid').value=psid;
		document.getElementById('pprice').value=pprice-(pprice*dprice);
		document.getElementById('qty').value=qty;
		document.getElementById('ptotal').value=pprice-(pprice*dprice);
		document.getElementById('addqty').style.display='block'
		
	}	
	function deletepurchase(id,numpsaleid,customerid){
			var ok=confirm("Delete this Product purchase? =>"+id)
			if(ok)
				location.href="/deletepurchase/"+numpsaleid+"/"+customerid+"?id="+id
		}
		</script>
</body>
</html>